.cart{
    margin-top: 6rem;

&-item{
    max-width: 70rem;
    margin-inline: auto;
    border-radius: 10px;
}

    .card-img-top{
        max-width: 12rem;
        height: auto;
        border-radius: 10px;
    }

    .amount, .total{
        max-width: 5rem;
        text-align: center;
        margin-inline: 1rem;
    }
}