.cart {
    margin-top: 6rem;

    &-item {
        max-width: 70rem;
        max-height: 10rem;
        margin-inline: auto;
        border-radius: 10px;
    }

    img{
        max-width: 100%;
        max-height: 10rem;
        border-radius: 10px;
    }

    .amount,
    .total {
        max-width: 5rem;
        text-align: center;
        margin-inline: 1rem;
    }
}