{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block notification %}{% endblock %}
{% block cart %}{% endblock %}

{% block main %}


<section id="login" class="login shadow-lg">
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="email" class="my-1">Email address</label>
            <input type="email" name="loginEmail" pattern="[^ @]*@[^ @]*" required class="text-center form-control"
                id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group my-4">
            <label for="password" class="my-1">Password</label>
            <input type="password" name="loginPassword" class="text-center form-control" id="password"
                required placeholder="Password">
        </div>
        <p class="login-error"></p>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" onclick="register()" class="btn btn-outline-primary">Register</button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="mt-2 text-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
</section>

{% endblock %}