<div class="profile-disp">
    {% extends "layout.html" %}
</div>

{% block title %}Profile{% endblock %}

{% block main %}

<section class="profile mt-0" id="profile">
    <div class="wrapper">
        {% block side %}
        <aside class="profile-sidebar">
            <div class="d-flex">
                <button class="profile-toggle-btn" type="button">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="profile-sidebar-logo ms-3 mt-2">
                    <a href="#"><img class="shadow-lg" {% if not profile.photo %} src="../static/photos/placeholder.jpg"
                            {% else %} src="../static/photos/{{ profile.photo }}" {% endif %} alt="profile photo"></a>
                </div>
            </div>
            <ul class="profile-sidebar-nav">
                <li class="profile-sidebar-item">
                    <div class="profile-sidebar-text">
                        <h6>{{ profile.name }}</h6>
                    </div>
                </li>
                <li class="profile-sidebar-item">
                    <div class="profile-sidebar-text">
                        <p>{{ profile.intro }}</p>
                    </div>
                </li>
                <li class="profile-sidebar-item">
                    <div class="profile-sidebar-text d-flex">
                        <i class="fa-solid fa-location-dot me-3"></i>
                        <h6>{{ profile.location }}</h6>
                    </div>
                </li>
                {% if profile.isMine %}
                <li class="profile-sidebar-item">
                    <div class="profile-sidebar-text d-flex">
                        <i class="fa-solid fa-dollar-sign me-3"></i>
                        <h6>{{ profile.earned }}</h6>
                    </div>
                </li>
                {% endif %}
                <li class="profile-sidebar-item">
                    <a href="#reviews" class="profile-sidebar-link">
                        <div class="ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="i-hide fa-solid fa-star"></i>
                            <i class="i-hide fa-solid fa-star"></i>
                            <i class="i-hide fa-solid fa-star"></i>
                            <i class="i-hide fa-solid fa-star"></i>
                            <p> 12 reviews</p>
                        </div>
                    </a>
                </li>
                <li class="profile-sidebar-item">
                    <a {% if profile.isMine %} onclick="editProfile()" {% else %} onclick="sendRequest()" {% endif %}
                        class="profile-sidebar-link">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span>{% if profile.isMine %}Edit{% else %}
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                Send Reqeust
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Write Your Message
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <!--text-->
                                                <div class="form-group col-md-6 mt-3">
                                                    <label for="inputEmail4">Your Message...</label>
                                                    <textarea rows="3" type="text" name="requestText"
                                                        class="form-control" placeholder="Your Message..."></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Send</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </span>
                    </a>
                </li>
            </ul>
            {% if profile.isMine %}
            <div class="profile-sidebar-footer">
                <a onclick="logout()" class="profile-sidebar-link">
                    <i class="fas fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </div>
            {% endif %}
        </aside>
        {% endblock %}

        <!--MAIN CONTENT-->
        <div class="profile-main">
            <section class="menu shadow-lg pt-3" id="profile-menu">
                <div class="title text-center">
                    <h2>Offered Dishes</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    {% if profile.isMine %}<button class="btn btn-primary" type="submit" onclick="addMeal()"><i
                            class="fa-solid fa-plus"></i></button>{% endif %}
                </div>
                <div class="container form-container">
                    <form class="form my-3 search-form d-flex">
                        <input class="form-control mr-2 text-center search-for" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success btn-search my-2" type="submit">Search</button>
                    </form>
                </div>
                <div id="menu-carousel" class="carousel" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        {% if meals %}
                        {% for meal in meals %}
                        <div class="carousel-item menu-item meal-item">
                            <div class="card  shadow-lg">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner p-0">
                                        {%if meal.photos.0 %}
                                        {% for photo in meal.photos %}
                                        <div {% if photo==meal.photos.0 %} class="carousel-item active" {% else %}
                                            class="carousel-item" {% endif %}>
                                            <img class="d-block w-100" src="../static/photos/{{ photo }}" alt="slide">
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../static/photos/placeholder.jpg"
                                                alt="slide">
                                        </div>
                                        {% endif %}
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ meal.name }}</h5>
                                    <p class="card-text">{{ meal.intro }}</p>
                                    <h6>Price</h6>
                                    <p class="card-text">${{ meal.price }}</p>

                                    <div class="ratings">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <p> 12 reviews</p>
                                    </div>

                                    <div class="other-details mx-3 mb-3">
                                        <form name="homeForm" action="{{ url_for('home') }}" method="POST">
                                            <input type="hidden" name="homeCardType" value="Meal">
                                            <input type="hidden" name="homeSubmittedMeal">
                                            <div class="d-flex">
                                                <input type="hidden" value="{{ meal.person.id }}" name="profileId">
                                            </div>
                                            <input type="hidden" value="{{ meal.id }}" name="mealId">
                                            <input id="homeMealMeal" type="submit" class="btn btn-outline-primary"
                                                name="homeSubmitMeal" value="More Details">
                                            {% if person.id != profile.id %}<input id="homeMealOrder" type="submit"
                                                class="btn btn-outline-primary" name="homeSubmitMeal"
                                                value="Order Now">{% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {%endif%}
                    <a class="carousel-control-prev" href="#menu-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" id="prev-menu" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#menu-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" id="next-menu" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>




            <section class="menu shadow-lg pt-3" id="reviews">
                <div class="title text-center">
                    <div class="title text-center">
                        <h2>Customers Reviews</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        {% if not profile.isMine %}
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModalCenterR">
                            +
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenterR" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form action="{{ url_for('profile', {{ profile.id }}) }}" method="POST">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Write Your Review</h5>
                                        </div>
                                        <div class="modal-body">
                                            <!--meal id-->
                                            <div class="form-group col-md-4">
                                                <label for="inputState">Meal</label>
                                                <select id="inputState" name="reviewMealId" class="form-control">
                                                    <option selected value="">Choose...</option>
                                                    {% if meals %}
                                                    {% for meal in meals %}
                                                    <option value="{{ meal.id }}">{{ meal.name }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>

                                            <!--person id-->
                                            <input type="hidden" value="{{ profile.id }}" name="reviewPersonId">

                                            <!--text-->
                                            <div class="form-group col-md-6 mt-3">
                                                <label for="inputEmail4">Your Review</label>
                                                <textarea rows="3" type="text" name="reviewText" class="form-control"
                                                    placeholder="Your Review..."></textarea>
                                            </div>

                                            <!--stars-->
                                            <div class="form-group" id="rating-ability-wrapper">
                                                <label class="control-label" for="rating">
                                                    <input type="hidden" id="selected_rating" name="reviewRating"
                                                        value="" required="required">
                                                </label>
                                                <h2 class="bold rating-header">
                                                    <span class="selected-rating">0</span><small> / 5</small>
                                                </h2>
                                                <button type="button" class="btnrating btn btn-default btn-lg"
                                                    data-attr="1" id="rating-star-1">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btnrating btn btn-default btn-lg"
                                                    data-attr="2" id="rating-star-2">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btnrating btn btn-default btn-lg"
                                                    data-attr="3" id="rating-star-3">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btnrating btn btn-default btn-lg"
                                                    data-attr="4" id="rating-star-4">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btnrating btn btn-default btn-lg"
                                                    data-attr="5" id="rating-star-5">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Add Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div id="menu-carousel" class="carousel" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Name</div>
                            <div class="card-body">
                                <h5 class="card-title">Name of the meal</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    aspernatur accusantium. Nisi, officiis sunt. Qui.</p>
                                <div class="ratings">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#menu-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" id="prev-review" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#menu-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" id="next-reviews" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}